<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXQmqlw_4I1XUWy5jHqQ3EnzIEI-DOalo</string>
	<key>GCM_SENDER_ID</key>
	<string>38736383570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ofoqeNaween.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ofoqe-naween</string>
	<key>STORAGE_BUCKET</key>
	<string>ofoqe-naween.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38736383570:ios:81f8050c3de5fc7225198b</string>
</dict>
</plist>